.visible {
    background: #a51c30;
    color: white;
}

.visible a, .visible a:hover {
    color: white
}

.active {
    background: #52854C;
    color: white;
}

.active a, .active a:hover {
    color: white
}



/* Admin Question stuff */
.q-btn .btn {
    margin-right: 10px;
}

#navbar-collapse-admin .btn {
    margin-right: 10px;
}

#create-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Client Question stuff */
.q-opt {
    margin-left: 25px;
    margin-right: 25px;
}

input[type="radio"] {
    margin-right: 10px;
}


