// Create a new Quiz
extends ../layout
block content
    h1 Quiz does not exist (yet)
    p There is no quiz at this url. Do you want to create one?
    | Enter a title and description here, then add questions on the next page.
    form(role="form", method="POST", action="/admin/quiz/#{permalink}")
        .form-group
            label(for="na") Name
            input.form-control(name="name", id="name", value="#{permalink}", required)
        .form-group
            label(for="description") Description
            textarea.form-control(name="description", id="description", placeholder="Enter a description of the quiz here", required)
        input.btn.btn-primary(type="submit", value="Create")
