// Create a new Quiz
extends ../layout
block content
    h1 Not found
    p There is no quiz at this url. Do you want to create a new one?
    | Enter a title and description here, then add questions on the next page.
    form(role="form", method="POST", action="/admin/quiz/#{permalink}")
        .form-group
            label(for="title") Title
            input.form-control(name="title", id="title", value="#{permalink}" required)
        .form-group
            label(for="description") Description
            textarea.form-control(name="description", id="description", placeholder="Enter a description of the quiz here" required)
        input.btn.btn-primary(type="submit", value="Create")
