extends ../layout

block content
    #admin(ng-controller="AdminQuizController", ng-show="quiz")
        .col-lg-2
            ul.list-group
                h3.list-group-item-heading Questions
                li.list-group-item(ng-repeat="question in quiz.questions", ng-click="viewQuestion(question)", ng-class="{active: question._id===quiz.activeQuestionId, visible: question===visibleQuestion}")
                    a {{ question.name }}
            button.btn.btn-primary.btn-lg(data-toggle='modal', data-target='#addQuestion') Add question
            ul.list-group
                h3.list-group-item-heading Groups
                li.list-group-item(ng-repeat="group in quiz.groups")
                    a(ng-href="/admin/group/{{group.permalink}}") {{ group.name }}
            button.btn.btn-primary.btn-lg(data-toggle='modal', data-target='#addGroup') Add group
        .col-lg-6
            nav.navbar.navbar-default(role="navigation")
                .navbar-header
                    button(data-target="#navbar-collapse-admin" data-toggle="collapse" class="navbar-toggle" type="button")
                    a(href="#" class="navbar-brand") Actions
                #navbar-collapse-admin.collapse.navbar-collapse
                    button.btn.btn-success.navbar-btn.btn(ng-click="actions.deactivateQuestion()", ng-show="quiz.activeQuestionId==visibleQuestion._id && quiz.activeQuestionId") Question on
                    button.btn.btn-danger.navbar-btn.btn.ng-hide(ng-click="actions.activateQuestion()", ng-hide="quiz.activeQuestionId==visibleQuestion._id") Question off
                    button.btn.btn-info.navbar-btn.btn(ng-click="actions.setChatStatus(false)", ng-show="quiz.chatIsActive") Chat on
                    button.btn.btn-danger.navbar-btn.ng-hide(ng-click="actions.setChatStatus(true)", ng-hide="quiz.chatIsActive") Chat off
                    a.btn.btn-warning.navbar-btn(ng-href="/admin/quiz/{{quiz.permalink}}/details") Details
            h2  {{ quiz.name  }}

            p(mathjax-bind="visibleQuestion.question")
            h4 Alternatives
            table.table
                thead
                    tr
                        th Alternative
                        th IsCorrect
                        th Answers
                tbody
                    tr(ng-repeat="alt in visibleQuestion.alternatives")
                        td(mathjax-bind="alt.name")
                        td.ng-hide(ng-show="showAnswers") {{ alt.isCorrect }}
                        td(ng-hide="showAnswers") *****
                        td {{ alt.answers.length }}

            button.btn.btn-primary(data-toggle='modal', data-target='#addAlternative' ng-show='quiz.questions.length') Add alternative
            button.btn(ng-click="toggleAnswers()" ng-show='quiz.questions.length') Toggle answers

            question-results(answers="answers")
            button.btn(ng-click="plusOne()") Click me
        .col-lg-4
            chatroom


        #addQuestion.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addQuestionLabel', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4#addQuestionLabel.modal-title Add question
                    .modal-body
                        form(role="form", ng-submit="newQuestion.submit()")
                            legend Question
                            .form-group
                                input.form-control(placeholder="name", ng-model="newQuestion.name", required)
                            .form-group
                                textarea.form-control(placeholder="question", ng-model="newQuestion.question", required)
                            legend Alternatives
                            .form-group(ng-repeat="alt in newQuestion.alternatives")
                                input.form-control(ng-model="alt.name", placeholder="Enter value here", required)
                                label(class="")
                                    input(type="checkbox", ng-model="alt.isCorrect")
                                    | Is correct
                                button.btn.btn-danger.btn-sm(ng-click="newQuestion.removeAlternative(alt)") Remove
                            button.btn(type="button", ng-click="newQuestion.addAlternative()") Add alternative

                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Close
                                button.btn.btn-primary(type="submit") Add question

        #addAlternative.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addAlternativeLabel', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4#addAlternativeLabel.modal-title Add alternative
                    .modal-body
                        form(role="form", ng-submit="newAlternative.submit(visibleQuestion)")
                            .form-group
                                label(for="newAlternativeName") Alternative
                                input#newAlternativeName.form-control(ng-model="newAlternative.name", name="newAlternativeName", placeholder="Enter value here", required)
                            .form-group
                                label(class="")
                                    input(type="checkbox", ng-model="newAlternative.isCorrect")
                                    | Is correct
                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Close
                                button.btn.btn-primary(type="submit") Add alternative

        #addGroup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4#addGroupLabel.modal-title Add group
                    .modal-body
                        form(role="form", ng-submit="newGroup.add()")
                            legend Group
                            p Only existing groups will be added to the quiz. Please create any new groups before
                            | you add them to the quiz
                            .form-group
                                input.form-control(placeholder="name", ng-model="newGroup.permalink", required)
                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Close
                                button.btn.btn-primary(type="submit") Add group
