extends ../layout

block content
    #admin(ng-controller="AdminPanelController", ng-init="init(#{JSON.stringify(quiz)})")
        .col-lg-3
            ul.list-group
                h3.list-group-item-heading Questions
                li.list-group-item(ng-repeat="question in quiz.questions" ng-class="{active: question==openQuestion}")
                    a(ng-click="activateQuestion(question)") {{ question.question }}
            button.btn.btn-primary Add question
        .col-lg-9
            h1 #{quiz.name} (Angular: {{ quiz.name | uppercase }} )
            nav.navbar.navbar-inverse.navbar-embossed(role="navigation")
                .navbar-header
                    button(data-target="#navbar-collapse-admin" data-toggle="collapse" class="navbar-toggle" type="button")
                    a(href="#" class="navbar-brand") Actions
                #navbar-collapse-admin.collapse.navbar-collapse
                    button.btn.btn-default.navbar-btn Activate question
                    button.btn.btn-default.navbar-btn Activate chat
                    button.btn.btn-default.navbar-btn Detailed responses
                    button.btn.btn-default.navbar-btn Add admin

            p Mr. Black, Mr. Gray, and Mr. White are fighting in a truel. They each get a gun and take turns shooting at each other until only one person is left. Mr. Black, who hits his shot 1/3 of the time, gets to shoot first. Mr. Gray, who hits his shot 2/3 of the time, gets to shoot next, assuming he is still alive. Mr. White, who hits his shot all the time, shoots next, assuming he is also alive. The cycle repeats. If you are Mr. Black, where should you shoot first for the highest chance of survival?

            .well
                label.radio
                    input(type="radio" name="group1" value="1" data-toggle="radio")
                    span Mr. Gray

                label.radio
                    input(type="radio" name="group1" value="2" data-toggle="radio" checked)
                    span Mr. White

                label.radio
                    input(type="radio" name="group1" value="2" data-toggle="radio" checked)
                    span Mr. Black

            highchart#demo-chart(config="chartConfig")