<div>
    <div style="overflow:auto; max-height:30em;" id="chat-container">
        <ul class="list-group">
            <li ng-repeat="topic in topics" class="list-group-item" ng-class="{active: topic.index==activeTopic}" ng-click="chooseTopic(topic.index)" id="topic-{{topic.index}}"><span>{{ topic.sender }}</span>: <span mathjax-bind="topic.title"></span>
                <ul>
                    <li ng-repeat="message in topic.messages"><span>{{ message.sender }}</span>: <span mathjax-bind="message.title"></span></li>
                </ul>
            </li>
        </ul>
    </div>

    <form role="form" ng-submit="sendMessage()">
        <div class="form-group">
            <input ng-model="newMessage.title" type="text" placeholder="Message..." class="form-control" ng-disabled="activeTopic === undefined" />
            <button class="btn btn-primary" ng-disabled="activeTopic === undefined">Post response</button>
        </div>
    </form>

    <form role="form" ng-submit="createTopic()" ng-show="chatEnabled">
        <div class="form-group">
            <input ng-model="newTopic.title" type="text" placeholder="New topic..." class="form-control"/>
            <button class="btn btn-primary">Ask new question</button>
        </div>
    </form>
</div>
