extends layout

block content
    #client-dashboard(ng-controller='ClientDashboardController', ng-show='question')
        .col-sm-8
            h2  {{ quizName }}
            .well
                #question(ng-show='question.question')
                    h4(mathjax-bind="question.question")
                    label(ng-repeat="alternative in question.alternatives"  class="radio" ng-click="chooseAnswer(alternative.id)")
                        input(type="radio" name="alternative" ng-disabled='question.submitted')
                        span(mathjax-bind="alternative.name")
                    br
                    button.btn.btn-primary(ng-click='submitAnswer()' ng-hide='question.submitted') Submit
                    div(ng-show='question.submitted') You've already answered this question
                #noquestion(ng-hide='question.question')
                    h4 No active question right now - hang tight!
                        img.img-responsive(src='/img/forever.png')
        .col-sm-4
            chatroom
