extends layout

block content
    #client-dashboard(ng-controller='ClientDashboardController')
        .col-md-9
            h2  {{ quizName }}
            .well
                #question(ng-show='question.question')
                    h4(mathjax-bind="question.question")
                    form(name='question', ng-submit='submitAnswer()')
                        label(ng-repeat="alternative in question.alternatives")
                            input(type="radio" ng-model="question.selectedAnswer" value="{{ alternative.id }}" name="alternative")
                            span(mathjax-bind="alternative.name")
                        br
                        button.btn.btn-primary(type="submit") Submit
                #noquestion(ng-hide='question.question')
                    h4 No active question right now - hang tight!
