extends layout

block content
    #client-dashboard(ng-controller='ClientDashboardController')
        .col-md-8
            h2  {{ quizName }}
            .well
                #question(ng-show='question.question')
                    h4(mathjax-bind="question.question")
                    label(ng-repeat="alternative in question.alternatives"  class="radio" ng-click="chooseAnswer(alternative.id)")
                        input(type="radio" name="alternative" )
                        span(mathjax-bind="alternative.name")
                    br
                    button.btn.btn-primary(ng-click='submitAnswer()' ) Submit
                #noquestion(ng-hide='question.question')
                    h4 No active question right now - hang tight!
        .col-lg-4
            chatroom
