extends layout

block content
    h1 PuzzleQuizzes
    p Create your own real-time quizzes, and share them with all you friends. Get live feedback as the submit answers.

    p Register or sign to get started
    form.well(role="form" action="/login" method="post")
        .form-group
            label Email
            input(type="text", class="form-control", name="email")
        .form-group
            label Password
            input(type="password", class="form-control", name="password")
        button.btn.btn-primary(type="submit") Login
        a.btn(href="/signup") Register
