extends layout

block content
    if message && message != ""
        .alert.alert-warning= message
    h1 Login
    form(role="form" action="/login" method="post")
        .form-group
            label Email
            input(type="text" class="form-control" name="email")
        .form-group
            label Password
            input(type="password" class="form-control" name="password")

        button.btn.btn-primary(type="submit") Login
        a.btn(href="/signup") Register