br
nav.navbar.navbar-inverse(role='navigation', ng-controller="NavbarController")
    .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-01')
            span.sr-only Toggle navigation
        a.navbar-brand(href='/') Puzzles
    #navbar-collapse-01.collapse.navbar-collapse
        ul.nav.navbar-nav
            li
                a(href='/admin') My quizzes
            li
                a(href='/admin/groups') My groups
            li
                a(href='/logout') Sign out
        form.navbar-form.navbar-right
            .form-group
                .input-group
                    input#navbarInput-01.form-control(ng-model="permalink", placeholder='Go to quiz')
                    span.input-group-btn
                        a.btn(ng-href="/quiz/{{permalink}}", ng-disabled="!permalink")
                            span.fui-search